:root{
    --color-primary: #272343;
    --color-primary-transparent:#27234375;
    --color-primary-light: #eeeeee;
    --container-padding: 10px 80px;

}
body{
    margin: 0;
}
.landing-page{
    background-color: #bae8e8;
    height:100vh;
    padding: var(--container-padding);
    padding-bottom: 0px;


}
header{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    border-bottom: 2px solid var(--color-primary);

}
h1{
    margin-top:0;
    color: var(--color-primary);
}
header button{
    background-color: var(--color-primary-transparent);
    border-radius: 4px;
    color:var(--color-primary);
    padding:5px 9px;
    outline:none;
    border:none;
    font-size: 20px;
    display:none;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap:20px;
}
nav a{
    text-decoration:none;
    color:black;
    display: block;
    padding: 10px 20px;
}
.link-special{
    background-color: #272343;
    color:#ffffff;
    border-radius: 10px;
}
#main-title{
    font-size: clamp(24px, 10vw, 70px);
    max-width: 500px;
    color: var(--color-primary);
}
.service-card{
    padding:var(--container-padding);
}
.service-card h3{
    text-decoration: underline;
    font-weight: normal;
}
.service-card ul{
    padding:0;
    list-style-position: inside;
}
.service-card li{
    margin: 10px 0px;
}
.slogan{
    padding: var(--container-padding);
    padding-top: 45px;
    background-color:var(--color-primary-light);
    display: flex;
    color:#ffffff;
    gap:100px;
}
.slogan div{
    margin:20px 0px;
    color: #ffffff;
    background-color: var(--color-primary);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.slogan h3 {
    margin-top: 35px;
}

.slogan span {
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
}
/* table{ 
    width:850px;
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    border-collapse:collapse;
    border-width:3px;
}
td{
    padding:10px 12px;
}
th{
    text-align:left;
    font-weight:normal;
    padding:10px 12px;
} 
.packages h3{
    text-align:center;
    font-size: 25px;
    color:var(--color-primary);
}
.packages{
    padding:60px;
}
tbody{
    text-align: justify;
    background-color: #eeeeee;
    
}
thead{
    background-color:#f9f9f9;
}
tbody tr{
    border-bottom:1px solid #eeeeee;
}
footer{
    background-color:var(--color-primary);
    padding:var(--container-padding);
}
footer p{
    color:#ffffff;
    font-size: small;
}*/

.service-charge {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-charge h3 {
    text-align:center;
    font-size:30px;
    color:var(--color-primary);
}
.table-area {
    margin-bottom:40px;
    border-radius:20px;
    overflow: hidden;
}
.table-area td{
    background-color: #f9f9f9f9;
    border-bottom: 1px solid #eeeeee;
}

.table-area tr:last-child td {
    border-bottom: none;
}

.table-area th{
    background-color: #eeeeee;
    text-align:left;
}
.table-area td, th{
    padding: 14px 30px;
}
table{
    width:850px;
    border-collapse:collapse;
}
.service-charge{
    padding:50px 0px; 
}
footer{
    background-color: var(--color-primary);
    padding:var(--container-padding)
}
footer p{
    font-size:smaller;
    color:white;
}

@media only screen and (max-width: 800px) {
    .slogan {
        flex-direction: column;
        gap: 40px;
    }
}

@media only screen and (max-width: 750px) {
    nav{
        display:none;
    }
    header button{
        display:inline-block;
    }
    
}

@media only screen and (max-width: 500px) {
    .slogan {
        padding-left: 20px;
        padding-right: 20px;
    }
}

